@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>This is my site to display my AI Engineering utilizing Azure.</p>
</div>
